<p id="notice"><%= notice %></p>
<br><br><br>
<body id="work" >
<div class="well well-lg"> 

  <%= link_to 'Back', articles_path %>
  <h1><%= @article.title %></h1>
    <p>
      <%= @article.description %>
    </p>
   <p> 
     <%= image_tag(root_url + "/images/" + @article.filename) %> 
    </p>

  <div id="work2">
  
     <%= @article.story %>
  </div>

    <br><br><br><br>
     <strong> <%= @article.views %> <span class="glyphicon glyphicon-eye-open"></strong><strong> <%= @article.likes %> <%= link_to  '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, articles_like_article_path  %>  </strong>

  <br>


</div>
<div class="col-md-4">
<div class="well well-lg">
  
  <%= render 'tags/index', :the_id => @article.id %>

  <%= render 'tags/form', :the_id => @article.id %>
</div> 
</div>
</body> 
