<p id="notice"><%= notice %></p>

<body id="work" >
<div class="well well-lg"> 
<% page_header "#{@article.title}" %>

  <%= link_to 'Back', articles_path %>
    <p>
      <%= @article.description %>
    </p>
   <p> 
     <%= image_tag(root_url + "/images/" + @article.filename) %> 
    </p>

  <div id="work2">
  
     <%= @article.story %>
  </div>

    <br><br><br><br>
     <strong> <%= @article.views %> <span class="glyphicon glyphicon-eye-open"></strong><br>
     <strong> <%= @article.likes %> <%= link_to  '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, articles_like_article_path  %>  </strong><br><br><br>

  <%= render 'tags/index', :the_id => @article.id %>
  <br>
     <%= render 'tags/form', :the_id => @article.id %>


</div>
</body> 
